
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;

    background-color: #28555c;

    color: #fcfdff;

    line-height: 1.6;
}


.container {
    width: 90%;

    max-width: 1150px;

    margin: auto;
}


.navbar {
    background-color: #096833;

    padding: 18px 0;

    position: sticky;

    top: 0;

    z-index: 1000;
}


.navbar-content {
    display: flex;

    justify-content: space-between;

    align-items: center;
}


.logo {
    font-size: 25px;

    font-weight: bold;

    color: white;
}


.logo span {
    color: #22be3c;
}


.menu {
    display: flex;

    gap: 30px;
}


.menu a {
    color: white;

    text-decoration: none;

    font-size: 15px;

    transition: 0.3s;
}


.menu a:hover {
    color: #60a5fa;
}



/* =========================================
   HERO
========================================= */

.hero {
    min-height: 500px;

    display: flex;

    align-items: center;

    background: linear-gradient(
        135deg,
        #104424,
        #0a6b6b
    );

    color: white;
}


.hero-content {
    display: flex;

    align-items: center;
}


.hero-text {
    max-width: 700px;
}


.hero-label {
    color: #08eb8c;

    font-size: 14px;

    font-weight: bold;

    letter-spacing: 3px;

    margin-bottom: 15px;
}


.hero h1 {
    font-size: 50px;

    line-height: 1.15;

    margin-bottom: 20px;
}


.hero h1 span {
    color: #08eb8c;
}


.hero-description {
    max-width: 600px;

    color: #d1d5db;

    font-size: 17px;

    margin-bottom: 30px;
}


.hero-button {
    display: inline-block;

    padding: 13px 25px;

    background-color: #08eb8c;

    color: white;

    text-decoration: none;

    border-radius: 8px;

    font-weight: bold;

    transition: 0.3s;
}


.hero-button:hover {
    background-color: #08a157;

    transform: translateY(-2px);
}



/* =========================================
   INFO PRODUK
========================================= */

.info-produk {
    padding: 50px 0 20px;
}


.box-info {
    background-color: white;

    border-radius: 15px;

    padding: 25px 30px;

    display: flex;

    align-items: center;

    gap: 20px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
}


.info-icon {
    width: 60px;

    height: 60px;

    display: flex;

    align-items: center;

    justify-content: center;

    background-color: #1d1d6e;

    border-radius: 12px;

    font-size: 28px;
}


.info-label {
    color: #1f3b72;

    font-size: 14px;
}


.box-info h2 {
    font-size: 28px;
    color: #2c4764;
    margin: 2px 0;
}


.box-info p:last-child {
    color: #4b6c9e;

    font-size: 14px;
}



/* =========================================
   SECTION HEADER
========================================= */

.produk-section {
    padding: 60px 0;
}


.section-header {
    text-align: center;
    color: rgb(241, 243, 245);
    margin-bottom: 40px;
}


.section-label {
    color:rgb(244, 245, 245);

    font-size: 13px;

    font-weight: bold;

    letter-spacing: 2px;

    margin-bottom: 8px;
}


.section-header h2 {
    font-size: 35px;
    margin-bottom: 8px;
}


.section-header p:last-child {
    color: white;
}



.product-grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}



/* =========================================
   PRODUCT CARD
========================================= */

.product-card {
    background-color: rgb(83, 115, 151);

    border-radius: 15px;

    padding: 25px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);

    transition: 0.3s;
}


.product-card:hover {
    transform: translateY(-6px);

    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}



/* =========================================
   PRODUCT IMAGE
========================================= */

.product-image {
    height: 220px;

    display: flex;

    justify-content: center;

    align-items: center;

    background-color: #f8fafc;

    border-radius: 12px;

    overflow: hidden;

    margin-bottom: 20px;
}


.product-image img {
    width: 100%;

    height: 100%;

    object-fit: contain;

    display: block;
}


/* =========================================
   PRODUCT CATEGORY
========================================= */

.product-category {
    color: #f3f5f4;

    font-size: 13px;

    font-weight: bold;

    margin-bottom: 5px;
}



/* =========================================
   PRODUCT NAME
========================================= */

.product-name {
    font-size: 19px;
    color: white;
    min-height: 55px;
    margin-bottom: 10px;
}



/* =========================================
   PRODUCT PRICE
========================================= */

.product-price {
    font-size: 23px;

    font-weight: bold;

    color: #f3f4f5;

    margin-bottom: 15px;
}



/* =========================================
   STOCK
========================================= */

.stock {
    display: flex;

    justify-content: space-between;

    padding: 10px 0;

    border-top: 1px solid #e5e7eb;

    border-bottom: 1px solid #e5e7eb;

    margin-bottom: 15px;
}


.stock span {
    color: #edeef1;
}


.stock strong {
    color: #fafbfd;
}



/* =========================================
   STATUS
========================================= */

.status {
    display: flex;

    align-items: center;

    gap: 8px;

    font-size: 14px;

    font-weight: bold;

    margin-bottom: 15px;
}


.status-dot {
    width: 9px;

    height: 9px;

    border-radius: 50%;

    display: inline-block;
}


.available {
    color: #f5f8f6;
}


.available .status-dot {
    background-color: #00ff5e;
}


.unavailable {
    color: #f7f6f6;
}


.unavailable .status-dot {
    background-color: #dc2626;
}



/* =========================================
   BUY BUTTON
========================================= */

.buy-button {
    width: 100%;

    border: none;

    padding: 12px;

    border-radius: 8px;

    background-color: #3944dd;

    color: white;

    font-size: 14px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}


.buy-button:hover {
    background-color: #1d4ed8;
}


.buy-button.disabled {
    background-color: #d1d5db;

    color: #6b7280;

    cursor: not-allowed;
}



/* =========================================
   ABOUT
========================================= */

.about-section {
    padding: 70px 0;

    background-color: #eaf2ff;
}


.about-content {
    max-width: 700px;

    margin: auto;

    text-align: center;
}

.section-label p {
    color:#111827;
}

.about-content h2 {
    font-size: 35px;

    margin-bottom: 15px;
}


.about-content p:last-child {
    color: #1d3352;
}



/* =========================================
   FOOTER
========================================= */

footer {
    background-color: #111827;

    color: rgb(76, 116, 190);

    padding: 35px 0;
}


.footer-content {
    display: flex;

    justify-content: space-between;

    align-items: center;
}


.footer-content h3 {
    font-size: 22px;
    color: white;
    margin-bottom: 5px;
}


.footer-content p {
    color: #9ca3af;

    font-size: 14px;
}



/* =========================================
   RESPONSIVE TABLET
========================================= */

@media (max-width: 900px) {

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }


    .hero h1 {
        font-size: 42px;
    }

}



/* =========================================
   RESPONSIVE HP
========================================= */

@media (max-width: 600px) {

    .navbar-content {
        flex-direction: column;

        gap: 15px;
    }


    .menu {
        gap: 18px;
    }


    .hero {
        min-height: 450px;

        text-align: center;
    }


    .hero h1 {
        font-size: 34px;
    }


    .hero-description {
        font-size: 15px;
    }


    .product-grid {
        grid-template-columns: 1fr;
    }


    .info-box {
        align-items: flex-start;
    }


    .section-header h2 {
        font-size: 29px;
    }


    .footer-content {
        flex-direction: column;

        gap: 20px;

        text-align: center;
    }

}